@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.circles {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  background: #5076e4;
  border-radius: 100%;
}

.anim-delay-100 {
  animation-delay: 1s;
}

.anim-delay-200 {
  animation-delay: 2s;
}

.anim-delay-300 {
  animation: 3s;
}
